
header{
    background-color: #2c3e50;
    position: fixed;
    width: 100%;
    top: 0;
    height: 82px;
    line-height: 50px;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link,
.navbar-light .navbar-nav .nav-link{
    color: white;
}

header .row{
    flex-wrap: nowrap;
}

header a{
    color: white;
    text-decoration: none;
}    


/* btn */
.btn{
    color: white;
}    

.bord_white{
    border: 1px solid white
}
.fa-download{
    padding-right: 4px;
}


/* common */

section{
    margin-top: 20px;
    padding: 80px 0;
}


.wrapper_small{
    max-width: 800px;
    margin: auto;
}

#portfolio,
#about,
#contact{
    margin-top: 50px;
}    


.form-control{
    border-top: none;
    border-left: none;
    border-right: none;
    margin-bottom: 10px;
}

#hero{
    margin-top: 82px;
    color: white;
}    

#about{
    color: white;
}

.l_green{
    background-color: #1abc9c;
}    

.linea{
    border: 1px solid;
    width: 50px;
    margin: 0 5px;

}

.star_{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_img img{
    width: 100%;
    padding: 5px 5px;
    position: relative;
}    

.container_img:hover .container_img::after{
    content: "\f067";
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    font-size: 50px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(#1abc9c);
}

/* footer */

footer{
    background-color: #3a546d;
    color: white;
}

.flex_end{
    justify-content: flex-end;
}

.footer_bot{
    background-color: #2c3e50;
    color: white;
    
}

.circle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: white;
    border: 1px solid white;
    line-height: 50px;
    display: inline-block;
    text-align: center;
}

.circle a{
    color: white;
}

.green{
    color: green;
}